@import "tailwindcss";

@theme {
  --color-ps-sidebar: #102A36;
  --color-ps-sidebar-hover: #163847;
  --color-ps-teal: #059669;
  --color-ps-teal-light: #2DD4BF;
  --color-ps-teal-accent: #14B8A6;
  --color-ps-bg: #F1F5F9;
  --color-ps-card: #FFFFFF;
  --color-ps-dark-card: #132D3B;
}

body {
  background-color: #F1F5F9;
  color: #0F172A;
  font-family: 'Inter', sans-serif;
}